<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books List</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <div class="header">
        <h2>Books List</h2>
        <a href="../">Home</a>
        <a href="/">Books</a>
        <a href="/genres">Genres</a>
        <form method="get" action="/search/">
            <label for="search">BOOK SEARCH</label>
            <input name="search" id="search" type="text">
            <button type="submit">Go</button>
        </form>
    </div>
    <div class="separator"></div>
    <div class="book-grid-container">
        <div class="book-grid">
            <% books.map((book) => { %>
                <div class="book-card">
                    <img class="card-image" src="/book.jpg">
                    <div class="card-text-container">
                        <div class="book-title"><%= book.title %></div>
                        <div class="book-author"><%= book.author %></div>
                        <div class="book-date"><%= book.release_date %></div>
                        <div class="book-genre"><%= book.genre %></div>
                        <form method="post" action="/books/delete/<%= book.id %>">
                            <button class="delete-book-btn" type="submit">Delete Book</button>
                        </form>
                    </div>
                    <div class="black-line"></div>
                    <a class="update-book-btn" href="/books/update/<%= book.id %>">Update Details</a>
                </div>
            <% }) %>
        </div>  
    </div>
    <div class="separator"></div>
    <div class="book-add-container"><a class="book-add-btn" href="/books/add">Add a new book</a></div>
</body>
</html>