<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Search Results</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <div class="header">
        <h2>Book Search Results</h2>
        <a href="../">Home</a>
        <a href="/">Books</a>
        <a href="/genres">Genres</a>
        <form method="get" action="/search/">
            <label for="search">Search a book: </label>
            <input name="search" id="search" type="text">
            <button type="submit">Go</button>
        </form>
    </div>
    <% if (!books) { %>
        <div>No results for this search.</div>
        <a href="/">Home</a>
    <% } else { %>
    <div class="book-grid-container">
        <div class="book-grid">
            <% books.map((book) => { %>
                <div class="book-card">
                    <div class="book-title"><%= book.title %></div>
                    <div class="book-author"><%= book.author %></div>
                    <div class="book-date"><%= book.release_date %></div>
                    <div class="book-genre"><%= book.genre %></div>
                    <form method="post" action="/books/delete/<%= book.id %>">
                        <button type="submit">Delete Book</button>
                    </form>
                    <a href="/books/update/<%= book.id %>">Update Details</a>
                </div>
            <% }) %>
        </div>  
    </div>
    <% } %>
    <a href="/books/add">Add a new book</a>
</body>
</html>